<nav class="navbar navbar-expand-md bg-light">
  <div class="container">
      <a class="navbar-brand" href="/">App Reminiscencia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex align-items-end">
          <ul class="navbar-nav me-auto">
              <li *ngIf="loggedIn()" class="nav-item">
                  <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
              </li>
              <li *ngIf="loggedIn()" class="nav-item">
                  <a class="nav-link" routerLink="/admin-pacientes" routerLinkActive="active">Administrar pacientes</a>
              </li>
              <!-- <li *ngIf="loggedIn()" class="nav-item">
                  <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a>
              </li> -->
          </ul>
          <ul class="navbar-nav ms-auto">
            <li *ngIf="!loggedIn()" class="nav-item">
              <a class="nav-link" routerLink="login" routerLinkActive="active">Iniciar Sesión</a>
            </li>
            <li *ngIf="loggedIn()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ usuario.nombre }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                  <a *ngIf="loggedIn()" class="dropdown-item" (click)="logOut()">Cerrar Sesión</a>
                </li>
              </ul>
            </li>
          </ul>
      </div>
  </div>
</nav>
