<div class="row mt-4">
  <div class="col-md-5 mx-auto">
    <div class="card bg-light mb-3">
      <h3 class="card-header text-center">Iniciar Sesión</h3>
      <div class="card-body">
        <div class="caja-img">
          <img class="img-form" src="../../../assets/images/login.png" alt="login">
        </div>
        <form (ngSubmit)="loginUsuario()" [formGroup]="usuariologinForm">
          <div class="form-group">
            <label class="form-label mt-3">Correo electrónico</label>
            <input type="email" class="form-control" formControlName="email" placeholder="nombre@email.com">
            <span
                *ngIf="usuariologinForm.get('email')!.hasError('required') && usuariologinForm.get('email')!.touched"
                class="text-danger error-label">
              El <strong>email</strong> es obligatorio
            </span>
            <span
                *ngIf="usuariologinForm.get('email')!.hasError('email') && usuariologinForm.get('email')!.touched"
                class="text-danger error-label">
              <strong>Email</strong> NO válido
            </span>
          </div>
          <div class="form-group">
            <label class="form-label mt-3">Contraseña</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
            <span
                *ngIf="usuariologinForm.get('password')!.hasError('required') && usuariologinForm.get('password')!.touched"
                class="text-danger error-label">
              La <strong>contraseña</strong> es obligatoria
            </span>
          </div>
          <div class="form-group py-3 mt-2 d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="submit">
              Entrar
            </button>
          </div>
          <div class="form-group mb-3">
            ¿Has olvidado la contraseña?
            <a routerLink="/recuperar-password" class="link">
              Recuperar Contraseña
            </a>
          </div>
          <div class="form-group mb-3">
            ¿Aún no te has registrado?
            <a routerLink="/registrar-usuario" class="link">
              Regístrate Ahora
            </a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
