/* You can add global styles to this file, and also import other style files */
.caja-img {
  padding: 0;
  text-align: center;
}

.img-form {
  width: 100px;
  margin: 5px auto;
}

.div-titulo {
  margin: 30px auto;
}

.titulo-pagina {
  text-align: center;
}
