<div class="row mt-4">
  <div class="col-md-5 mx-auto">
    <div class="card bg-light mb-3">
      <h3 class="card-header text-center">Nueva contraseña</h3>
      <div class="card-body">
        <div class="caja-img">
          <img class="img-form" src="../../../assets/images/cambiar-password.png" alt="login">
        </div>
        <form (ngSubmit)="resetearPassword()" [formGroup]="nuevoPassForm">
          <div class="form-group">
            <label class="form-label mt-3">Contraseña</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <span
                *ngIf="nuevoPassForm.get('password')!.hasError('required') && nuevoPassForm.get('password')!.touched"
                class="text-danger error-label">
              La <strong>contraseña</strong> es obligatoria
            </span>
            <span
                *ngIf="nuevoPassForm.get('password')!.hasError('minlength') && nuevoPassForm.get('password')!.touched"
                class="text-danger error-label">
              La <strong>contraseña</strong> debe tener 6 ó más caracteres
            </span>
          </div>
          <div class="form-group">
            <label class="form-label mt-3">Repite contraseña</label>
            <input type="password" class="form-control" formControlName="repassword" placeholder="Password">
            <span
                *ngIf="nuevoPassForm.get('repassword')!.hasError('required') && nuevoPassForm.get('repassword')!.touched"
                class="text-danger error-label">
              Debes repetir la <strong>contraseña</strong>
            </span>
            <span
                *ngIf="nuevoPassForm.get('repassword')!.hasError('minlength') && nuevoPassForm.get('repassword')!.touched"
                class="text-danger error-label">
              La <strong>contraseña</strong> debe tener 6 ó más caracteres
            </span>
          </div>
          <div class="form-group py-3 mt-2 d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="submit">
              Cambiar contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
