<div class="wrapper">
  <div class="body">
    <img class="logo" src="../../../assets/images/cambiar-password.png" alt="login">
    <h2 class="mb-3">Nueva contraseña</h2>
    <form (ngSubmit)="resetearPassword()" [formGroup]="nuevoPassForm">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
        <label>Contraseña</label>
        <span
            *ngIf="nuevoPassForm.get('password')!.hasError('required') && nuevoPassForm.get('password')!.touched"
            class="text-danger error-label">
          La <strong>contraseña</strong> es obligatoria
        </span>
        <span
            *ngIf="nuevoPassForm.get('password')!.hasError('minlength') && nuevoPassForm.get('password')!.touched"
            class="text-danger error-label">
          La <strong>contraseña</strong> debe tener 6 ó más caracteres
        </span>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="repassword" placeholder="Password">
        <label>Repite contraseña</label>
        <span
            *ngIf="nuevoPassForm.get('repassword')!.hasError('required') && nuevoPassForm.get('repassword')!.touched"
            class="text-danger error-label">
          Debes repetir la <strong>contraseña</strong>
        </span>
        <span
            *ngIf="nuevoPassForm.get('repassword')!.hasError('minlength') && nuevoPassForm.get('repassword')!.touched"
            class="text-danger error-label">
          La <strong>contraseña</strong> debe tener 6 ó más caracteres
        </span>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>
